@font-face { font-family: NexaBold; font-weight: bold; src: url("fonts/Nexa Bold.otf")}
@font-face { font-family: NexaThin; font-weight: thin; src: url("fonts/Nexa Light.otf")}

@keyframes blurin {
    0% {filter: blur(0px); opacity: 1;}
    100% {filter: blur(5px); opacity: 0.5}
}

@keyframes blurout {
    0% {filter: blur(5px); opacity: 0.5}
    100% {filter: blur(0px); opacity: 1}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeout {
    0% {opacity: 1}
    100% {opacity: 0}
}

h1 {
    font-family: NexaBold;
    font-size: 125px;
    text-align: center
}

div.bgblk {
    background-color: black;
    color: white;
    text-align: center;
    
}

#hr {
    height: 5px;
    background-color: black
}

.supercs188:hover img {
    filter: blur(5px);
    /*-webkit-filter: blur(5px);*/
    animation-name: blurin;
    animation-duration: 500ms;
    opacity: 0.5;
}

.supercs188:hover div {
    animation-name: fadein;
    animation-duration: 500ms;
    opacity: 1;
}


.supercs188 {
    animation-name: blurout;
    animation-duration: 500ms;
    z-index: 1;
}

.supercs1:hover img {
    filter: blur(5px);
    /*-webkit-filter: blur(5px);*/
    animation-name: blurin;
    animation-duration: 500ms;
    opacity: 0.5;
}

.supercs1:hover div {
    animation-name: fadein;
    animation-duration: 500ms;
    opacity: 1;
}


.supercs1 {
    animation-name: blurout;
    animation-duration: 500ms;
    z-index: 1;
}

#bg1 {
    background-size: contain;
    position: absolute;
}

.supercs188 div {
    opacity: 0;
    animation-name: fadeout;
    animation-duration: 500ms
}

.supercs1 div {
    opacity: 0;
    animation-name: fadeout;
    animation-duration: 500ms
}

#hrtop {
    height: 5px;
    background-color: black;
    margin-top: 50px
}

#supercs188 {
    margin: auto;
    width: 854px;
    position: relative;
    cursor: pointer;
}

#supercs1 {
    margin: auto;
    width: 854px;
    position: relative;
}

#supercs188 div{
    position: absolute;
    top: 180px;
    background-color: black;
    height: 120px;
    width: 852px;
    left: 2px;
    z-index: 10;
    box-shadow: 1px 4px 8px 0 black, 1px 6px 20px 0 black;
}

#supercs1 div{
    position: absolute;
    top: 200px;
    background-color: black;
    height: 50px;
    width: 852px;
    left: 2px;
    z-index: 10;
    box-shadow: 1px 4px 8px 0 black, 1px 6px 20px 0 black;
}

#supercs188 img {
    height: 480px;
}

#supercs1 img {
    height: 480px;
}

#dpn {
    width: 689px;
    height: auto;
    margin: 0;
}

#dpnd {
    color: red;
    float:left;
    margin: 0%
}

#dpnp {
    color: limegreen;
    float:left;
    margin: 0 0
}

#dpnn {
    color: blue;
    float:left;
    margin: 0 0
}

#dpng {
    float: left;
    margin: 0 1%
}

#dpna {
    float: left;
    margin: 0 -1%;
}

#dpnm {
    float: left;
    margin: 0 1%;
}

#dpne {
    float: left;
    margin: 0 -1.5%;
}

#dpns {
    float: left;
    margin: 0 1.5%;
}

#links {
    text-align: center; 
    font-size: 60px; 
    font-family: NexaThin
}

#links a {
    text-decoration: none;
    color: black;
}

#currlink {
    font-family: NexaBold
}